.cont-menuHamburguesa {
    position: relative;
}

.cont-menuHamburguesa__btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.linea-menuHamburguesa {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.3s ease;
}

.cont-menuHamburguesa__btn.open .linea-menuHamburguesa:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.cont-menuHamburguesa__btn.open .linea-menuHamburguesa:nth-child(2) {
    opacity: 0;
}

.cont-menuHamburguesa__btn.open .linea-menuHamburguesa:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.cont-menuHamburguesa__menu {
    position: relative;
    top: 0;
    left: -300px; /* Inicialmente fuera de la vista */
    background-color: var(--fondo-navbar);
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 999;
}

.cont-menuHamburguesa__menu.ocultar {
    left: -300px; /* Oculto fuera de la vista */
}

.cont-menuHamburguesa__menu.open {
    width: 250px;
    top: 8px;
    left: 0; /* Visible en la vista */
}

.ul-menuHamburguesa {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ul-menuHamburguesa li {
    padding: 10px 20px;
}

.ul-menuHamburguesa li:last-child {
    border-bottom: none;
}

.ul-menuHamburguesa li a {
    text-decoration: none;
    color: black;
    display: block;
    margin-left: 10px;
}

.ul-menuHamburguesa li:hover {
    background-color: #f5f5f5;
}

/* responsive */
@media screen and (max-width: 885px) {
    .cont-menuHamburguesa__menu.open {
        left: -60px; /* Visible en la vista */
    }
}
@media screen and (max-width: 600px) {
    .cont-menuHamburguesa__menu.open {
        left: -50px; /* Visible en la vista */
    }
    .ul-menuHamburguesa li a {
        margin-left: 15px;
    }
}
@media screen and (max-width: 300px) {
    .cont-menuHamburguesa__menu.open {
        width: 200px;
        left: -40px; /* Visible en la vista */
    }
    .ul-menuHamburguesa li a {
        margin-left: 15px;
    }
}