.cont-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-props {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.481);
}

.cont-titulo-y-lista-emp {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-titulo-emp {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-h1-listaEmp {
    width: 50%;
    display: flex;
    justify-content: star;
    align-items: center;
}

.cont-btn-verTodas-listaEmp {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* cont mapa */
.cont-mapa-props-home{
    width: 80%;
    margin-bottom: 30px;
}

/* responsive */
@media screen and (max-width: 1000px) {
    .cont-h1-listaEmp {
        width: 80%;
    }

    .cont-h1-listaEmp>h1 {
        font-size: 18px;
        padding: 0 10px;
    }

    .cont-btn-verTodas-listaEmp {
        width: 20%;
    }
}

@media screen and (max-width: 500px) {
    .cont-h1-listaEmp {
        width: 80%;
    }

    .cont-h1-listaEmp>h1 {
        font-size: 15px;
    }

    .cont-btn-verTodas-listaEmp {
        width: 20%;
    }

    /* lista props */
    .cont-titulo-y-lista-emp {
        width: 90%;
    }

    /* mapa */
    .cont-mapa-props-home{
        width: 95%;
        margin-bottom: 30px;
}
}